+m# To get started with Dependabot version updates, you'll need to specify which
tab# package ecosystems to update and where the package manifests are located.
esc# Please see the documentation for all configuration options:
tab# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
