{
  "openapi": "3.0.3",
  "info": {
    "title": "Orders",
    "description": "An order represents a payment between two or more parties. Use the Orders API to create, update, retrieve, authorize, and capture orders.",
    "version": "2.26",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    },
    {
      "url": "https://api-m.paypal.com",
      "description": "PayPal Live Environment"
    }
  ],
  "tags": [
    {
      "name": "orders",
      "description": "Use the `/orders` resource to create, update, retrieve, authorize, capture and track orders."
    },
    {
      "name": "trackers",
      "description": "Use the `/trackers` resource to update and retrieve tracking information for PayPal orders."
    },
    {
      "name": "externalcallback",
      "description": "PayPal will use the callback url defined in the create order request to send merchants shipping address and shipping options data while the buyer is in the PayPal checkout."
    }
  ],
  "externalDocs": {
    "url": "https://developer.paypal.com/docs/api/orders/v2/"
  },
  "paths": {
    "/v2/checkout/orders": {
      "post": {
        "summary": "Create order",
        "description": "Creates an order. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see <a href=\"https://developer.paypal.com/docs/checkout/advanced/processing/\">checkout</a> or <a href=\"https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/\">multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href=\"https://developer.paypal.com/api/rest/reference/orders/v2/errors/#create-order\">Orders v2 errors</a>.</blockquote>",
        "operationId": "orders.create",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that includes by default a minimal response with the ID, status, and HATEOAS links. If you require the complete order resource representation, you must pass the <a href=\"https://developer.paypal.com/docs/api/orders/v2/#orders-create-header-parameters\"><code>Prefer: return=representation</code> request header</a>. This header value is not the default.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                },
                "examples": {
                  "orders_request_create": {
                    "value": {
                      "intent": "CAPTURE",
                      "purchase_units": [
                        {
                          "reference_id": "d9f80740-38f0-11e8-b467-0ed5f89f718b",
                          "amount": {
                            "currency_code": "USD",
                            "value": "100.00"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/422"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/paypal_partner_attribution_id"
          },
          {
            "$ref": "#/components/parameters/paypal_client_metadata_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_request"
              },
              "examples": {
                "order_request": {
                  "value": {
                    "intent": "CAPTURE",
                    "purchase_units": [
                      {
                        "reference_id": "d9f80740-38f0-11e8-b467-0ed5f89f718b",
                        "amount": {
                          "currency_code": "USD",
                          "value": "100.00"
                        }
                      }
                    ],
                    "payment_source": {
                      "paypal": {
                        "experience_context": {
                          "payment_method_preference": "IMMEDIATE_PAYMENT_REQUIRED",
                          "payment_method_selected": "PAYPAL",
                          "brand_name": "EXAMPLE INC",
                          "locale": "en-US",
                          "landing_page": "LOGIN",
                          "user_action": "PAY_NOW",
                          "return_url": "https://example.com/returnUrl",
                          "cancel_url": "https://example.com/cancelUrl"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment",
              "https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v2/checkout/orders/{id}": {
      "get": {
        "summary": "Show order details",
        "description": "Shows details for an order, by ID.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href=\"https://developer.paypal.com/api/rest/reference/orders/v2/errors/#get-order\">Orders v2 errors</a>.</blockquote>",
        "operationId": "orders.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment",
              "https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants"
            ]
          }
        ],
        "tags": ["orders"]
      },
      "patch": {
        "summary": "Update order",
        "description": "Updates an order with a `CREATED` or `APPROVED` status. You cannot update an order with the `COMPLETED` status.<br/><br/>To make an update, you must provide a `reference_id`. If you omit this value with an order that contains only one purchase unit, PayPal sets the value to `default` which enables you to use the path: <code>\\\"/purchase_units/@reference_id=='default'/{attribute-or-object}\\\"</code>. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see <a href=\"https://developer.paypal.com/docs/checkout/advanced/processing/\">checkout</a> or <a href=\"https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/\">multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href=\"https://developer.paypal.com/api/rest/reference/orders/v2/errors/#patch-order\">Orders v2 errors</a>.</blockquote>Patchable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody><tr><td><code>intent</code></td><td>replace</td><td></td></tr><tr><td><code>payer</code></td><td>replace, add</td><td>Using replace op for <code>payer</code> will replace the whole <code>payer</code> object with the value sent in request.</td></tr><tr><td><code>purchase_units</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].custom_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].description</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payee.email</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].shipping.name</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.email_address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.phone_number</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.options</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.type</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].soft_descriptor</code></td><td>replace, remove</td><td></td></tr><tr><td><code>purchase_units[].amount</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].items</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].invoice_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.disbursement_mode</code></td><td>replace</td><td>By default, <code>disbursement_mode</code> is <code>INSTANT</code>.</td></tr><tr><td><code>purchase_units[].payment_instruction.payee_receivable_fx_rate_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.platform_fees</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.airline</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.card</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>application_context.client_configuration</code></td><td>replace, add</td><td></td></tr></tbody></table>",
        "operationId": "orders.patch",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with an empty object in the JSON response body."
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/orders.patch-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/orders.patch-422"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patch_request"
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment",
              "https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v2/checkout/orders/{id}/confirm-payment-source": {
      "post": {
        "summary": "Confirm the Order",
        "description": "Payer confirms their intent to pay for the the Order with the given payment source.",
        "operationId": "orders.confirm",
        "responses": {
          "200": {
            "description": "A successful request indicates that the payment source was added to the Order. A successful request returns the HTTP `200 OK` status code with a JSON response body that shows order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/orders.confirm-400"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/orders.confirm-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_client_metadata_id"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          },
          {
            "$ref": "#/components/parameters/prefer"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/confirm_order_request"
              },
              "examples": {
                "confirm_order_request": {
                  "value": {
                    "payment_source": {
                      "paypal": {
                        "name": {
                          "given_name": "John",
                          "surname": "Doe"
                        },
                        "email_address": "customer@example.com",
                        "experience_context": {
                          "payment_method_preference": "IMMEDIATE_PAYMENT_REQUIRED",
                          "payment_method_selected": "PAYPAL",
                          "brand_name": "EXAMPLE INC",
                          "locale": "en-US",
                          "landing_page": "LOGIN",
                          "shipping_preference": "SET_PROVIDED_ADDRESS",
                          "user_action": "PAY_NOW",
                          "return_url": "https://example.com/returnUrl",
                          "cancel_url": "https://example.com/cancelUrl"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment",
              "https://uri.paypal.com/services/payments/initiatepayment",
              "https://uri.paypal.com/services/payments/orders/client_sdk_orders_api"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v2/checkout/orders/{id}/authorize": {
      "post": {
        "summary": "Authorize payment for order",
        "description": "Authorizes payment for an order. To successfully authorize payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href=\"https://developer.paypal.com/api/rest/reference/orders/v2/errors/#authorize-order\">Orders v2 errors</a>.</blockquote>",
        "operationId": "orders.authorize",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows authorized payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_authorize_response"
                }
              }
            }
          },
          "201": {
            "description": "A successful response to a non-idempotent request returns the HTTP `201 Created` status code with a JSON response body that shows authorized payment details. If a duplicate response is retried, returns the HTTP `200 OK` status code. By default, the response is minimal. If you need the complete resource representation, you must pass the <a href=\"https://developer.paypal.com/docs/api/orders/v2/#orders-authorize-header-parameters\"><code>Prefer: return=representation</code> request header</a>.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_authorize_response"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/orders.authorize-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The authorized payment failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/orders.authorize-403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/orders.authorize-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_client_metadata_id"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_authorize_request"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment",
              "https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v2/checkout/orders/{id}/capture": {
      "post": {
        "summary": "Capture payment for order",
        "description": "Captures payment for an order. To successfully capture payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href=\"https://developer.paypal.com/api/rest/reference/orders/v2/errors/#capture-order\">Orders v2 errors</a>.</blockquote>",
        "operationId": "orders.capture",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows captured payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "201": {
            "description": "A successful response to a non-idempotent request returns the HTTP `201 Created` status code with a JSON response body that shows captured payment details. If a duplicate response is retried, returns the HTTP `200 OK` status code. By default, the response is minimal. If you need the complete resource representation, pass the <a href=\"https://developer.paypal.com/docs/api/orders/v2/#orders-authorize-header-parameters\"><code>Prefer: return=representation</code> request header</a>.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/orders.capture-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The authorized payment failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/orders.capture-403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/orders.capture-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_client_metadata_id"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_capture_request"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment",
              "https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v2/checkout/orders/{id}/track": {
      "post": {
        "summary": "Add tracking information for an Order.",
        "description": "Adds tracking information for an Order.",
        "operationId": "orders.track.create",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows tracker details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "201": {
            "description": "A successful response to a non-idempotent request returns the HTTP `201 Created` status code with a JSON response body that shows tracker details. If a duplicate response is retried, returns the HTTP `200 OK` status code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/orders.track.create-400"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/orders.track.create-403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/orders.track.create-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_tracker_request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v2/checkout/orders/{id}/trackers/{tracker_id}": {
      "patch": {
        "summary": "Update or cancel tracking information for an order",
        "description": "Updates or cancels the tracking information for a PayPal order, by ID. Updatable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody></tr><tr><td><code>items</code></td><td>replace</td><td>Using replace op for <code>items</code> will replace the entire <code>items</code> object with the value sent in request.</td></tr><tr><td><code>notify_payer</code></td><td>replace, add</td><td></td></tr><tr><td><code>status</code></td><td>replace</td><td>Only patching status to CANCELLED is currently supported.</td></tr></tbody></table>",
        "operationId": "orders.trackers.patch",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with an empty object in the JSON response body."
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/orders.trackers.patch-400"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/orders.trackers.patch-403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/orders.trackers.patch-404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/orders.trackers.patch-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/tracker_id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch_request"
              },
              "examples": {
                "orders_patch_request": {
                  "value": [
                    {
                      "op": "replace",
                      "path": "/purchase_units/@reference_id=='PUHF'/shipping/address",
                      "value": {
                        "address_line_1": "2211 N First Street",
                        "address_line_2": "Building 17",
                        "admin_area_2": "San Jose",
                        "admin_area_1": "CA",
                        "postal_code": "95131",
                        "country_code": "US"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          }
        ],
        "tags": ["trackers"]
      }
    },
    "/v2/checkout/orders/order-update-callback": {
      "post": {
        "summary": "Receive updated order information via callback URL",
        "description": "The documentation for this 'endpoint' is different from the other endpoints under v2 Orders. For this endpoint the role of client and server is reversed. The client sending the request is PayPal, and the server sending the response is the merchant. In the request, PayPal will send the buyer's redacted shipping address and selected shipping option to the callback URL defined the create order request. The response from the merchant will update the Orders resource.",
        "operationId": "server.callback",
        "responses": {
          "200": {
            "description": "The callback to merchant was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_update_callback_response"
                }
              }
            }
          },
          "400": {
            "description": "The request is not well-formed, is syntactically incorrect, or violates the schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_400"
                }
              }
            }
          },
          "403": {
            "description": "The transaction failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_403"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be completed, was semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_422"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_update_callback_request"
              }
            }
          }
        },
        "tags": ["externalcallback"]
      }
    }
  },
  "components": {
    "requestBodies": {
      "patch_request": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/patch_request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "Oauth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "scopes": {
              "https://uri.paypal.com/services/payments/payment": "Manage payments and checkout workflow.",
              "https://uri.paypal.com/services/payments/payment/reference-transaction": "Permission to initiate reference transaction",
              "https://uri.paypal.com/services/payments/initiatepayment": "Initiates payments and checkout workflows.",
              "https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants": "Allows client-side integration on Create, Get, Patch, Authorize & Capture Order endpoints.",
              "https://uri.paypal.com/services/payments/orders/client_sdk_orders_api": "Enables secure client-side integration on confirm payment source endpoint"
            }
          }
        }
      }
    },
    "responses": {
      "default": {
        "description": "The default response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error_default"
            }
          }
        }
      }
    },
    "schemas": {
      "2": {
        "type": "object",
        "title": "Payer",
        "description": "The customer who approves and pays for the order. The customer is also known as the payer.",
        "format": "payer_v1"
      },
      "3": {
        "type": "object",
        "title": "Order Authorize Response",
        "description": "The order authorize response."
      },
      "400": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_ARRAY_MAX_ITEMS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_ARRAY_MAX_ITEMS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The number of items in an array parameter is too large."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_ARRAY_MIN_ITEMS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_ARRAY_MIN_ITEMS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The number of items in an array parameter is too small."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_COUNTRY_CODE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_COUNTRY_CODE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Country code is invalid. Please refer to https://developer.paypal.com/api/rest/reference/country-codes/ for a list of supported country codes."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PARAMETER_SYNTAX",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_SYNTAX"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The value of a field does not conform to the expected format."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_STRING_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_STRING_LENGTH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The value of a field is either too short or too long"
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PARAMETER_VALUE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_VALUE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["A parameter value is not valid."]
                    }
                  }
                },
                {
                  "title": "MISSING_REQUIRED_PARAMETER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_REQUIRED_PARAMETER"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["A required parameter is missing."]
                    }
                  }
                },
                {
                  "title": "NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["This field is not currently supported."]
                    }
                  }
                },
                {
                  "title": "PAYPAL_REQUEST_ID_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYPAL_REQUEST_ID_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A PayPal-Request-Id is required if you are trying to process payment for an Order. Please specify a PayPal-Request-Id or Create the Order without a 'payment_source' specified."
                      ]
                    }
                  }
                },
                {
                  "title": "MALFORMED_REQUEST_JSON",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MALFORMED_REQUEST_JSON"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The request JSON is not well formed."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "401": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_ACCOUNT_STATUS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_ACCOUNT_STATUS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Account validations failed for the user."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "403": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "PERMISSION_DENIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PERMISSION_DENIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You do not have permission to access or perform operations on this resource."
                      ]
                    }
                  }
                },
                {
                  "title": "NOT_ENABLED_FOR_CARD_PROCESSING",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["NOT_ENABLED_FOR_CARD_PROCESSING"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The recipient for which the API call is made on behalf of is not enabled for card processing. Please contact PayPal customer support."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_NOT_VERIFIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_NOT_VERIFIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Payee has not verified their account with PayPal. The selected payment method requires the recipient to have a verified PayPal account before transactions can be processed on their behalf."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "404": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_RESOURCE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_RESOURCE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Specified resource ID does not exist. Please check the resource ID and try again."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "AMOUNT_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AMOUNT_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Should equal item_total + tax_total + shipping + handling + insurance - shipping_discount - discount."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_POSTAL_CODE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_POSTAL_CODE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "For vaulting with purchase, postal code (billing_address.postal_code) can only contain letters, numbers, spaces, and hyphens"
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_POSTAL_CODE_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_POSTAL_CODE_LENGTH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "For vaulting with purchase, postal code (billing_address.postal_code) may contain no more than 9 letter or number characters"
                      ]
                    }
                  }
                },
                {
                  "title": "BILLING_AGREEMENTS_CANNOT_BE_USED_FOR_SUBSCRIPTIONS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": [
                        "BILLING_AGREEMENTS_CANNOT_BE_USED_FOR_SUBSCRIPTIONS"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Billing Agreements cannot be used for Subscription orders."
                      ]
                    }
                  }
                },
                {
                  "title": "CANNOT_BE_NEGATIVE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_NEGATIVE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Must be greater than or equal to 0. If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "CANNOT_BE_ZERO_OR_NEGATIVE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_ZERO_OR_NEGATIVE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Must be greater than zero. If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "CARD_EXPIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CARD_EXPIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The card is expired"]
                    }
                  }
                },
                {
                  "title": "MISSING_PREVIOUS_REFERENCE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_PREVIOUS_REFERENCE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "For Merchant initiated network token transactions, either the payment_source.card.stored_credential.previous_network_transaction_reference or payment_source.card.stored_credential.previous_transaction_reference must be included in the request."
                      ]
                    }
                  }
                },
                {
                  "title": "MISSING_CRYPTOGRAM",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_CRYPTOGRAM"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Cryptogram is mandatory for any customer initiated network token transactions."
                      ]
                    }
                  }
                },
                {
                  "title": "CITY_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CITY_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified country requires a city (address.admin_area_2)."
                      ]
                    }
                  }
                },
                {
                  "title": "DECIMAL_PRECISION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMAL_PRECISION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "DONATION_ITEMS_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DONATION_ITEMS_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "If 'purchase_unit' has \"DONATION\" as the 'items.category' then the Order can at most have one purchase_unit. Multiple purchase_units are not supported if either of them have at least one items with category as \"DONATION\"."
                      ]
                    }
                  }
                },
                {
                  "title": "DUPLICATE_REFERENCE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DUPLICATE_REFERENCE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "`reference_id` must be unique if multiple `purchase_unit` are provided."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_CURRENCY_CODE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_CURRENCY_CODE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Currency code is invalid or is not currently supported. Please refer https://developer.paypal.com/api/rest/reference/currency-codes/ for list of supported currency codes."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PAYER_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PAYER_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The payer ID is not valid."]
                    }
                  }
                },
                {
                  "title": "ITEM_TOTAL_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["ITEM_TOTAL_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Should equal sum of (unit_amount * quantity) across all items for a given purchase_unit."
                      ]
                    }
                  }
                },
                {
                  "title": "ITEM_TOTAL_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["ITEM_TOTAL_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "If item details are specified (items.unit_amount and items.quantity) corresponding amount.breakdown.item_total is required."
                      ]
                    }
                  }
                },
                {
                  "title": "MAX_VALUE_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MAX_VALUE_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Should be less than or equal to 999999999999999.99."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYMENT_DENIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYMENT_DENIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "PayPal has declined to process this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "MISSING_PICKUP_ADDRESS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_PICKUP_ADDRESS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A pickup address(`shipping.address`) is required for the provided `shipping.type`."
                      ]
                    }
                  }
                },
                {
                  "title": "MULTI_CURRENCY_ORDER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MULTI_CURRENCY_ORDER"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Multiple differing values of currency_code are not supported. Entire Order request must have the same currency_code."
                      ]
                    }
                  }
                },
                {
                  "title": "MULTIPLE_ITEM_CATEGORIES",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MULTIPLE_ITEM_CATEGORIES"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "For a given 'purchase_unit' the 'items.category' could be either \"PHYSICAL_GOODS\" and/or \"DIGITAL_GOODS\" or just \"DONATION\".  'items.category' as \"DONATION\" cannot be combined with items with either \"PHYSICAL_GOODS\" or \"DIGITAL_GOODS\"."
                      ]
                    }
                  }
                },
                {
                  "title": "MULTIPLE_SHIPPING_ADDRESS_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MULTIPLE_SHIPPING_ADDRESS_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Multiple shipping addresses are not supported."]
                    }
                  }
                },
                {
                  "title": "MULTIPLE_SHIPPING_TYPE_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MULTIPLE_SHIPPING_TYPE_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Different `shipping.type` are not supported across purchase units nor within an individual item's shipping options."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_INVALID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_INVALID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Payee account specified is invalid. Please check the `payee.email_address` or `payee.merchant_id` specified and try again. Ensure that either  `payee.merchant_id` or `payee.email_address` is specified."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The merchant account is locked or closed."]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_RESTRICTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_RESTRICTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The merchant account is restricted."]
                    }
                  }
                },
                {
                  "title": "PAYMENT_ORIGIN_NOT_ENABLED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYMENT_ORIGIN_NOT_ENABLED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The API caller account or payee is not enabled for the given 'payment_origin' option. Please contact customer support for assistance."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_PRICING_TIER_ID_NOT_ENABLED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_PRICING_TIER_ID_NOT_ENABLED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The API Caller is not enabled to process transactions by specifying a 'payee_pricing_tier_id'. Please work with your Account Manager to enable this option for your account."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PAYEE_PRICING_TIER_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PAYEE_PRICING_TIER_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Please check the value specified or confirm with your Account Manager that the 'payee_pricing_tier_id' specified has been setup for the account."
                      ]
                    }
                  }
                },
                {
                  "title": "UNSUPPORTED_PAYMENT_SOURCE_FOR_SUBSCRIPTIONS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["UNSUPPORTED_PAYMENT_SOURCE_FOR_SUBSCRIPTIONS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified payment source is not supported for subscriptions. Only a `vault_id` or `vault_setup_token` with `payment_source.card` and `payment_source.paypal` are supported."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_FX_RATE_ID_EXPIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_FX_RATE_ID_EXPIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified FX Rate ID has expired. Please specify a different FX Rate Id and try the request again. Alternately, remove the FX Rate ID to process the request using the default exchange rate."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_FX_RATE_ID_CURRENCY_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_FX_RATE_ID_CURRENCY_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified FX Rate ID is for a currency that does not match with the currency of this request. Please specify a different FX Rate ID and try the request again. Alternately, remove the FX Rate ID to process the request using the default exchange rate."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_FX_RATE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_FX_RATE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specific FX Rate ID is not valid. This could be either because we are not able to look up the FX Rate based on this ID or it could be because the ID belongs to another API Caller."
                      ]
                    }
                  }
                },
                {
                  "title": "PLATFORM_FEES_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PLATFORM_FEES_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The API Caller is not enabled to process transactions by specifying 'platform_fees'. Please work with your PayPal Account Manager to enable this option for your account."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PLATFORM_FEES_ACCOUNT",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PLATFORM_FEES_ACCOUNT"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified platform_fees payee account is either invalid or account setup is incomplete.Please work with your PayPal Account Manager to enable this option for your account."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PLATFORM_FEES_AMOUNT",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PLATFORM_FEES_AMOUNT"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The platform_fees amount cannot be greater than order amount."
                      ]
                    }
                  }
                },
                {
                  "title": "POSTAL_CODE_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["POSTAL_CODE_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The specified country requires a postal code."]
                    }
                  }
                },
                {
                  "title": "REFERENCE_ID_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFERENCE_ID_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "'reference_id' is required for each 'purchase_unit' if multiple 'purchase_unit' are provided."
                      ]
                    }
                  }
                },
                {
                  "title": "SHIPPING_OPTIONS_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["SHIPPING_OPTIONS_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Shipping options are not supported when `shipping.type` is specified or when 'application_context.shipping_preference' is set as 'NO_SHIPPING' or 'SET_PROVIDED_ADDRESS'."
                      ]
                    }
                  }
                },
                {
                  "title": "TAX_TOTAL_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TAX_TOTAL_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Should equal sum of (tax * quantity) across all items for a given purchase_unit."
                      ]
                    }
                  }
                },
                {
                  "title": "TAX_TOTAL_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TAX_TOTAL_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "If item details are specified (items.tax_total and items.quantity) corresponding amount.breakdown.tax_total is required."
                      ]
                    }
                  }
                },
                {
                  "title": "UNSUPPORTED_INTENT",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["UNSUPPORTED_INTENT"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "`intent=AUTHORIZE` is not supported for this operation. Only `intent=CAPTURE` is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "UNSUPPORTED_INTENT_FOR_KYC_INCOMPLETE_PAYEE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["UNSUPPORTED_INTENT_FOR_KYC_INCOMPLETE_PAYEE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "`intent=AUTHORIZE` is not supported due to payee's incomplete KYC, while their partner is enabled for Progressive Onboarding. Only `intent=CAPTURE` is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "UNSUPPORTED_PAYMENT_INSTRUCTION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["UNSUPPORTED_PAYMENT_INSTRUCTION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You must provide the payment instruction when you capture an authorized payment for `intent=AUTHORIZE`. For details, see <a href=\"/docs/api/payments/v2/#authorizations_capture\">Capture authorization</a>. For `intent=CAPTURE`, send the payment instruction when you create the order."
                      ]
                    }
                  }
                },
                {
                  "title": "SHIPPING_TYPE_NOT_SUPPORTED_FOR_CLIENT",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["SHIPPING_TYPE_NOT_SUPPORTED_FOR_CLIENT"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The API Caller account is not setup to be able to support a `shipping.type`=`PICKUP_IN_PERSON`. This feature is only supported for <a href=\"https://www.paypal.com/us/business/platforms-and-marketplaces\">PayPal Complete Payments Platform for Platforms and Marketplaces</a>."
                      ]
                    }
                  }
                },
                {
                  "title": "UNSUPPORTED_SHIPPING_TYPE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["UNSUPPORTED_SHIPPING_TYPE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The provided `shipping.type` is only supported for `application_context.shipping_preference`=`SET_PROVIDED_ADDRESS` or `NO_SHIPPING`."
                      ]
                    }
                  }
                },
                {
                  "title": "SHIPPING_OPTION_NOT_SELECTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["SHIPPING_OPTION_NOT_SELECTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "At least one of the shipping.option should be set to 'selected = true'."
                      ]
                    }
                  }
                },
                {
                  "title": "MULTIPLE_SHIPPING_OPTION_SELECTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MULTIPLE_SHIPPING_OPTION_SELECTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Only one shipping.option can be set to 'selected = true'."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_SHIPPING_OPTION_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_SHIPPING_OPTION_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The items.shipping.options_ids[].id does not exist in purchase_units.shipping.options[]. Please ensure that all ids used in options_ids are first defined in purchase_units.shipping.options[]."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_DELIVERY_ESTIMATE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_DELIVERY_ESTIMATE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The provided `delivery_time_max` must be greater than the `delivery_time_min`, and vice versa."
                      ]
                    }
                  }
                },
                {
                  "title": "INELIGIBLE_SHIPPING_OPTION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INELIGIBLE_SHIPPING_OPTION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "One or more shipping options cannot be used in conjunction with this Order."
                      ]
                    }
                  }
                },
                {
                  "title": "MISSING_SHIPPING_CALL_BACK_CONFIGURATION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_SHIPPING_CALL_BACK_CONFIGURATION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "`payment_source.paypal.experience_context.order_update_callback_config` is mandatory for one or more shipping.options provided in the request."
                      ]
                    }
                  }
                },
                {
                  "title": "MISSING_ITEM_SHIPPING_OPTIONS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_ITEM_SHIPPING_OPTIONS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "All items in the purchase_unit must have `options_ids` defined if any item in the Order has `item[].shipping.options_ids` defined."
                      ]
                    }
                  }
                },
                {
                  "title": "PREFERRED_SHIPPING_OPTION_AMOUNT_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PREFERRED_SHIPPING_OPTION_AMOUNT_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The amount provided in the preferred shipping option should match the amount provided in amount breakdown"
                      ]
                    }
                  }
                },
                {
                  "title": "AGREEMENT_ALREADY_CANCELLED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AGREEMENT_ALREADY_CANCELLED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The requested agreement is already canceled."]
                    }
                  }
                },
                {
                  "title": "BILLING_AGREEMENT_NOT_FOUND",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["BILLING_AGREEMENT_NOT_FOUND"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The requested Billing Agreement token was not found."
                      ]
                    }
                  }
                },
                {
                  "title": "COMPLIANCE_VIOLATION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["COMPLIANCE_VIOLATION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Transaction is declined due to compliance violation."
                      ]
                    }
                  }
                },
                {
                  "title": "DOMESTIC_TRANSACTION_REQUIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DOMESTIC_TRANSACTION_REQUIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "This transaction requires the payee and payer to be resident in the same country, a domestic transaction is required to create this payment."
                      ]
                    }
                  }
                },
                {
                  "title": "DUPLICATE_INVOICE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DUPLICATE_INVOICE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Duplicate Invoice ID detected. To avoid a potential duplicate transaction your account setting requires that Invoice Id be unique for each transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "INSTRUMENT_DECLINED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INSTRUMENT_DECLINED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The instrument presented  was either declined by the processor or bank, or it can't be used for this payment."
                      ]
                    }
                  }
                },
                {
                  "title": "MAX_NUMBER_OF_PAYMENT_ATTEMPTS_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MAX_NUMBER_OF_PAYMENT_ATTEMPTS_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You have exceeded the maximum number of payment attempts."
                      ]
                    }
                  }
                },
                {
                  "title": "NOT_ENABLED_FOR_CARD_PROCESSING",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["NOT_ENABLED_FOR_CARD_PROCESSING"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The API Caller account is not setup to be able to process card payments. Please contact PayPal customer support."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_BLOCKED_TRANSACTION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_BLOCKED_TRANSACTION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Declined by fraud tool (Fraud Protection/Chargeback Protection) due to potential fraud risk. Please review your fraud settings."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The payer account cannot be used for this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_ACCOUNT_RESTRICTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_ACCOUNT_RESTRICTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["PAYER_ACCOUNT_RESTRICTED"]
                    }
                  }
                },
                {
                  "title": "PAYER_CANNOT_PAY",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_CANNOT_PAY"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Combination of payer and payee settings mean that this buyer cannot pay this seller."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_BLOCKED_BY_PAYEE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_BLOCKED_BY_PAYEE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Transaction blocked by Payee’s Fraud Protection settings."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_LIMIT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_LIMIT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Total payment amount exceeded transaction limit."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_RECEIVING_LIMIT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_RECEIVING_LIMIT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The transaction exceeds the receiver's receiving limit."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_REFUSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_REFUSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The request was refused."]
                    }
                  }
                },
                {
                  "title": "AUTH_CAPTURE_NOT_ENABLED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTH_CAPTURE_NOT_ENABLED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Authorization and Capture feature is not enabled for the merchant. Make sure that the recipient of the funds is a verified business account."
                      ]
                    }
                  }
                },
                {
                  "title": "UNSUPPORTED_PROCESSING_INSTRUCTION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["UNSUPPORTED_PROCESSING_INSTRUCTION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified processing_instruction is not supported for the given payment_source. Please refer to https://developer.paypal.com/api/orders/v2/#definition-processing_instruction for the list of payment_source that can be specified with this value."
                      ]
                    }
                  }
                },
[...]
