{
  "openapi": "3.0.3",
  "info": {
    "title": "Payments",
    "description": "Call the Payments API to authorize payments, capture authorized payments, refund payments that have already been captured, and show payment information. Use the Payments API in conjunction with the <a href=\"/docs/api/orders/v2/\">Orders API</a>. For more information, see the <a href=\"/docs/checkout/\">PayPal Checkout Overview</a>.",
    "version": "2.9",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    },
    {
      "url": "https://api-m.paypal.com",
      "description": "PayPal Live Environment"
    }
  ],
  "tags": [
    {
      "name": "authorizations",
      "description": "Use the `/authorizations` resource to show details for, capture payment for, reauthorize, and void authorized payments."
    },
    {
      "name": "captures",
      "description": "Use the `/captures` resource to show details for and refund a captured payment."
    },
    {
      "name": "refunds",
      "description": "Use the `/refunds` resource to show refund details."
    },
    {
      "name": "assets",
      "description": "Assets APIs for Checkout"
    },
    {
      "name": "cancel-payment",
      "description": "Use the <code>/cancel-payment</code> resource to cancel an order capture or order authorization by <code>PayPal-Request-Id</code>. The merchant triggers the cancel action."
    },
    {
      "name": "find-eligible-methods",
      "description": "Use the `/find-eligible-methods` resource to show list of eligible payment methods for given customer/order context."
    },
    {
      "name": "payment-resource-operations",
      "description": "Use the `/payment-resource-operations` resource to show verifications details."
    },
    {
      "name": "find-bin-details",
      "description": "Use the `/find-bin-details` resource to determine PayPal supported networks and retrieve BIN details for given card and payee."
    }
  ],
  "externalDocs": {
    "url": "https://developer.paypal.com/docs/api/payments/v2/"
  },
  "paths": {
    "/v2/payments/authorizations/{authorization_id}": {
      "get": {
        "summary": "Show details for authorized payment",
        "description": "Shows details for an authorized payment, by ID.",
        "operationId": "authorizations.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization-2"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_401"
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["authorizations"],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ]
      }
    },
    "/v2/payments/authorizations/{authorization_id}/capture": {
      "post": {
        "summary": "Capture authorized payment",
        "description": "Captures an authorized payment, by ID.",
        "operationId": "authorizations.capture",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/capture_request"
              },
              "examples": {
                "capture_request": {
                  "value": {
                    "amount": {
                      "value": "10.99",
                      "currency_code": "USD"
                    },
                    "invoice_id": "INVOICE-123",
                    "final_capture": true,
                    "note_to_payer": "If the ordered color is not available, we will substitute with a different color free of charge.",
                    "soft_descriptor": "Bob's Custom Sweaters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows captured payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capture-2"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows captured payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capture-2"
                }
              }
            }
          },
          "400": {
            "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_401"
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The server has detected a conflict while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_409"
                }
              }
            }
          },
          "422": {
            "description": "The request failed because it is semantically incorrect or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["authorizations"],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ]
      }
    },
    "/v2/payments/authorizations/{authorization_id}/reauthorize": {
      "post": {
        "summary": "Reauthorize authorized payment",
        "description": "Reauthorizes an authorized PayPal account payment, by ID. To ensure that funds are still available, reauthorize a payment after its initial three-day honor period expires. Within the 29-day authorization period, you can issue multiple re-authorizations after the honor period expires.<br/><br/>If 30 days have transpired since the date of the original authorization, you must create an authorized payment instead of reauthorizing the original authorized payment.<br/><br/>A reauthorized payment itself has a new honor period of three days.<br/><br/>You can reauthorize an authorized payment from 4 to 29 days after the 3-day honor period. The allowed amount depends on context and geography, for example in US it is up to 115% of the original authorized amount, not to exceed an increase of $75 USD.<br/><br/>Supports only the `amount` request parameter.",
        "operationId": "authorizations.reauthorize",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reauthorize_request"
              },
              "examples": {
                "reauthorize_request": {
                  "value": {
                    "amount": {
                      "value": "10.99",
                      "currency_code": "USD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows the reauthorized payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization-2"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows the reauthorized payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization-2"
                }
              }
            }
          },
          "400": {
            "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/authorizations.reauthorize-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_401"
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request failed because it either is semantically incorrect or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/authorizations.reauthorize-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["authorizations"],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ]
      }
    },
    "/v2/payments/authorizations/{authorization_id}/void": {
      "post": {
        "summary": "Void authorized payment",
        "description": "Voids, or cancels, an authorized payment, by ID. You cannot void an authorized payment that has been fully captured.",
        "operationId": "authorizations.void",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details. This response is returned when the Prefer header is set to return=representation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization-2"
                }
              }
            }
          },
          "204": {
            "description": "A successful request returns the HTTP <code>204 No Content</code> status code with no JSON response body. This response is returned when the Prefer header is set to return=minimal."
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The request failed because a previous call for the given resource is in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_409"
                    },
                    {
                      "$ref": "#/components/schemas/409"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request failed because it either is semantically incorrect or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/authorizations.void-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["authorizations"],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ]
      }
    },
    "/v2/payments/captures/{capture_id}": {
      "get": {
        "summary": "Show captured payment details",
        "description": "Shows details for a captured payment, by ID.",
        "operationId": "captures.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/capture_id"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows captured payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capture-2"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_401"
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["captures"],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ]
      }
    },
    "/v2/payments/captures/{capture_id}/refund": {
      "post": {
        "summary": "Refund captured payment",
        "description": "Refunds a captured payment, by ID. For a full refund, include an empty payload in the JSON request body. For a partial refund, include an <code>amount</code> object in the JSON request body.",
        "operationId": "captures.refund",
        "parameters": [
          {
            "$ref": "#/components/parameters/capture_id"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refund_request"
              },
              "examples": {
                "refund_request": {
                  "value": {
                    "amount": {
                      "value": "10.00",
                      "currency_code": "USD"
                    },
                    "invoice_id": "INVOICE-123",
                    "note_to_payer": "DefectiveProduct",
                    "payment_instruction": {
                      "platform_fees": [
                        {
                          "amount": {
                            "currency_code": "USD",
                            "value": "1.00"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows refund details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refund"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP <code>201 Created</code> status code and a JSON response body that shows refund details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refund"
                }
              }
            }
          },
          "400": {
            "description": "The request failed because it is not well-formed or is syntactically incorrect or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/captures.refund-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The request failed because a previous call for the given resource is in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_409"
                    },
                    {
                      "$ref": "#/components/schemas/409"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request failed because it either is semantically incorrect or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/captures.refund-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["captures"],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/refund"]
          }
        ]
      }
    },
    "/v2/payments/refunds/{refund_id}": {
      "get": {
        "summary": "Show refund details",
        "description": "Shows details for a refund, by ID.",
        "operationId": "refunds.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/refund_id"
          },
          {
            "$ref": "#/components/parameters/paypal_auth_assertion"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows refund details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refund"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "tags": ["refunds"],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/refund"]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "scopes": {
              "https://uri.paypal.com/services/payments/payment/authcapture": "Permission to do non-real time payments like capture on authorization",
              "https://uri.paypal.com/services/payments/refund": "Permission to initiate a refund on a capture transaction",
              "https://uri.paypal.com/services/payments/non-referenced-credit": "Permission to initiate non referenced credit",
              "https://uri.paypal.com/services/payments/realtimepayment": "Permission to do any real time payment, with support for sale/authorize/order intents",
              "https://uri.paypal.com/services/payments/reversepayment": "Permission to do any reverse payment",
              "https://uri.paypal.com/services/payments/payments-ready": "Permission to get information about payment readiness.",
              "Braintree:PaymentsReady": "Permission to call PaymentsReady via BrainTree SDK.",
              "https://uri.paypal.com/services/payments/client-payments-eligibility": "Permission to get information about merchant's eligible payment methods."
            }
          }
        }
      }
    },
    "responses": {
      "default": {
        "description": "The default response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error_default"
            }
          }
        }
      }
    },
    "schemas": {
      "400": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_PARAMETER_VALUE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_VALUE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The value of a field is invalid."]
                    }
                  }
                },
                {
                  "title": "MISSING_REQUIRED_PARAMETER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_REQUIRED_PARAMETER"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["A required field / parameter is missing."]
                    }
                  }
                },
                {
                  "title": "INVALID_STRING_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_STRING_LENGTH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The value of a field is either too short or too long."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_STRING_MAX_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_STRING_MAX_LENGTH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The value of a field is too long."]
                    }
                  }
                },
                {
                  "title": "INVALID_PARAMETER_SYNTAX",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_SYNTAX"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The value of a field does not conform to the expected format."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "401": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_ACCOUNT_STATUS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_ACCOUNT_STATUS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Account validations failed for the user."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "403": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "PERMISSION_DENIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PERMISSION_DENIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You do not have permission to access or perform operations on this resource."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "404": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_RESOURCE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_RESOURCE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Specified resource ID does not exist. Please check the resource ID and try again."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "409": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "PREVIOUS_REQUEST_IN_PROGRESS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PREVIOUS_REQUEST_IN_PROGRESS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A previous request on this resource is currently in progress. Please wait for sometime and try again. It is best to space out the initial and the subsequent request(s) to avoid receiving this error."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_CURRENCY_CODE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_CURRENCY_CODE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Currency code is invalid or is not currently supported. Please refer https://developer.paypal.com/docs/api/reference/currency-codes/ for list of supported currency codes."
                      ]
                    }
                  }
                },
                {
                  "title": "CANNOT_BE_ZERO_OR_NEGATIVE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_ZERO_OR_NEGATIVE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Must be greater than zero. If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "DECIMAL_PRECISION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMAL_PRECISION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "DECIMALS_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMALS_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Currency does not support decimals. Please refer to https://developer.paypal.com/docs/api/reference/currency-codes/ for more information."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_REFUSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_REFUSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "PayPal's internal controls prevent authorization from being captured."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_VOIDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_VOIDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A voided authorization cannot be captured or reauthorized. "
                      ]
                    }
                  }
                },
                {
                  "title": "MAX_CAPTURE_COUNT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MAX_CAPTURE_COUNT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Maxmimum number of allowable captures has been reached. No additional captures are possible for this authorization. Contact Customer Service or your account manager to change the number of captures for a given authorization."
                      ]
                    }
                  }
                },
                {
                  "title": "DUPLICATE_INVOICE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DUPLICATE_INVOICE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Requested invoice_id has been previously captured. Possible duplicate transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTH_CAPTURE_CURRENCY_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTH_CAPTURE_CURRENCY_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Currency of capture must be the same as currency of authorization."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_CANNOT_PAY",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_CANNOT_PAY"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Payer cannot pay for this transaction. Please contact the payer to find other ways to pay for this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_DENIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_DENIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["An denied authorization cannot be captured."]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_EXPIRED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_EXPIRED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["An expired authorization cannot be captured."]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_ALREADY_CAPTURED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_ALREADY_CAPTURED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Authorization has previously been captured."]
                    }
                  }
                },
                {
                  "title": "MAX_CAPTURE_AMOUNT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MAX_CAPTURE_AMOUNT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Capture amount exceeds allowable limit. Please contact customer service or your account manager to request the change to your overage limit. The default overage limit is 115%, which allows the sum of all captures to be up to 115% of the order amount. The ability to over capture is subjected to regulatory approvals."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_REFUSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_REFUSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "PayPal's internal controls prevent authorization from being captured."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Transaction could not complete because payee account is locked or closed."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The payer account cannot be used for this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_RESTRICTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_RESTRICTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Payee account is restricted."]
                    }
                  }
                },
                {
                  "title": "COMPLIANCE_VIOLATION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["COMPLIANCE_VIOLATION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Transaction is declined due to compliance violation."
                      ]
                    }
                  }
                },
                {
                  "title": "DUPLICATE_TRANSACTION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DUPLICATE_TRANSACTION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Duplicate invoice Id detected."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "account_id": {
        "type": "string",
        "title": "PayPal Account Identifier",
        "description": "The account identifier for a PayPal account.",
        "format": "ppaas_payer_id_v3",
        "minLength": 13,
        "maxLength": 13,
        "pattern": "^[2-9A-HJ-NP-Z]{13}$"
      },
      "activity_timestamps": {
        "type": "object",
        "description": "The date and time stamps that are common to authorized payment, captured payment, and refund transactions.",
        "title": "Transaction Date and Time Stamps",
        "properties": {
          "create_time": {
            "description": "The date and time when the transaction occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true,
            "$ref": "#/components/schemas/date_time"
          },
          "update_time": {
            "description": "The date and time when the transaction was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true,
            "$ref": "#/components/schemas/date_time"
          }
        }
      },
      "authorization": {
        "type": "object",
        "title": "Authorization",
        "description": "The authorized payment transaction.",
        "allOf": [
          {
            "$ref": "#/components/schemas/authorization_status"
          },
          {
            "properties": {
              "id": {
                "description": "The PayPal-generated ID for the authorized payment.",
                "type": "string",
                "readOnly": true
              },
              "amount": {
                "description": "The amount for this authorized payment.",
                "$ref": "#/components/schemas/money",
                "readOnly": true
              },
              "invoice_id": {
                "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
                "type": "string",
                "readOnly": true
              },
              "custom_id": {
                "type": "string",
                "description": "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports.",
                "maxLength": 255
              },
              "network_transaction_reference": {
                "$ref": "#/components/schemas/network_transaction"
              },
              "seller_protection": {
                "$ref": "#/components/schemas/seller_protection",
                "readOnly": true
              },
              "expiration_time": {
                "description": "The date and time when the authorized payment expires, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
                "$ref": "#/components/schemas/date_time",
                "readOnly": true
              },
              "links": {
                "$ref": "#/components/schemas/link_description_list"
              }
            }
          },
          {
            "$ref": "#/components/schemas/activity_timestamps"
          }
        ]
      },
      "authorization-2": {
        "type": "object",
        "title": "Authorization",
        "description": "The authorized payment transaction.",
        "allOf": [
          {
            "$ref": "#/components/schemas/authorization"
          },
          {
            "properties": {
              "supplementary_data": {
                "description": "An object that provides supplementary/additional data related to a payment transaction.",
                "readOnly": true,
                "$ref": "#/components/schemas/supplementary_data"
              },
              "payee": {
                "description": "The details associated with the merchant for this transaction.",
                "$ref": "#/components/schemas/payee_base",
                "readOnly": true
              }
            }
          }
        ]
      },
      "authorization_status": {
        "type": "object",
        "title": "Authorization Status With Details",
        "description": "The status fields and status details for an authorized payment.",
        "properties": {
          "status": {
            "title": "Authorization Status",
            "description": "The status for the authorized payment.",
            "type": "string",
            "readOnly": true,
            "x-enumDescriptions": [
              {
                "value": "CREATED",
                "description": "The authorized payment is created. No captured payments have been made for this authorized payment."
              },
              {
                "value": "CAPTURED",
                "description": "The authorized payment has one or more captures against it. The sum of these captured payments is greater than the amount of the original authorized payment."
              },
              {
                "value": "DENIED",
                "description": "PayPal cannot authorize funds for this authorized payment."
              },
              {
                "value": "PARTIALLY_CAPTURED",
                "description": "A captured payment was made for the authorized payment for an amount that is less than the amount of the original authorized payment."
              },
              {
                "value": "VOIDED",
                "description": "The authorized payment was voided. No more captured payments can be made against this authorized payment."
              },
              {
                "value": "PENDING",
                "description": "The created authorization is in pending state. For more information, see <code>status.details</code>."
              }
            ],
            "enum": [
              "CREATED",
              "CAPTURED",
              "DENIED",
              "PARTIALLY_CAPTURED",
              "VOIDED",
              "PENDING"
            ]
          },
          "status_details": {
            "description": "The details of the authorized order pending status.",
            "readOnly": true,
            "$ref": "#/components/schemas/authorization_status_details"
          }
        }
      },
      "authorization_status_details": {
        "title": "Authorization Status Details",
        "description": "The details of the authorized payment status.",
        "type": "object",
        "properties": {
          "reason": {
            "title": "Authorization Incomplete Reason",
            "description": "The reason why the authorized status is `PENDING`.",
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Z_]+$",
            "x-enumDescriptions": [
              {
                "value": "PENDING_REVIEW",
                "description": "Authorization is pending manual review."
              },
              {
                "value": "DECLINED_BY_RISK_FRAUD_FILTERS",
                "description": "Risk Filter set by the payee failed for the transaction."
              }
            ],
            "enum": ["PENDING_REVIEW", "DECLINED_BY_RISK_FRAUD_FILTERS"]
          }
        }
      },
      "authorizations.reauthorize-400": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "MISSING_REQUIRED_PARAMETER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_REQUIRED_PARAMETER"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["A required field / parameter is missing."]
                    }
                  }
                },
                {
                  "title": "INVALID_STRING_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_STRING_LENGTH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The value of a field is either too short or too long."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_STRING_MAX_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_STRING_MAX_LENGTH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The value of a field is too long."]
                    }
                  }
                },
                {
                  "title": "INVALID_PARAMETER_SYNTAX",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_SYNTAX"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The value of a field does not conform to the expected format."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "authorizations.reauthorize-422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_CURRENCY_CODE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_CURRENCY_CODE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Currency code is invalid or is not currently supported. Please refer https://developer.paypal.com/docs/api/reference/currency-codes/ for list of supported currency codes."
                      ]
                    }
                  }
                },
                {
                  "title": "CANNOT_BE_ZERO_OR_NEGATIVE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_ZERO_OR_NEGATIVE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Must be greater than zero. If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "DECIMAL_PRECISION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMAL_PRECISION"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "If the currency supports decimals, only two decimal place precision is supported."
                      ]
                    }
                  }
                },
                {
                  "title": "DECIMALS_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMALS_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Currency does not support decimals. Please refer to https://developer.paypal.com/docs/api/reference/currency-codes/ for more information."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_REFUSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_REFUSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "PayPal's internal controls prevent authorization from being captured."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_VOIDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_VOIDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A voided authorization cannot be captured or reauthorized. "
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_CANNOT_PAY",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_CANNOT_PAY"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Payer cannot pay for this transaction. Please contact the payer to find other ways to pay for this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_ALREADY_CAPTURED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_ALREADY_CAPTURED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Authorization has previously been captured."]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Transaction could not complete because payee account is locked or closed."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The payer account cannot be used for this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_RESTRICTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_RESTRICTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Payee account is restricted."]
                    }
                  }
                },
                {
                  "title": "REAUTHORIZATION_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REAUTHORIZATION_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A reauthorize cannot be attempted on an authorization_id that is the result of a prior reauthorization or on an authorization made on an Order saved using the `v2/orders/id/save` API."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTH_CURRENCY_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTH_CURRENCY_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The currency specified during reauthorization should be the same as the currency specified in the original authorization. Please check the currency of the authorization for which you are trying to reauthorize and try again."
                      ]
                    }
                  }
                },
                {
                  "title": "AUTHORIZATION_AMOUNT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["AUTHORIZATION_AMOUNT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Authorization amount specified exceeded allowable limit. Specify a different amount and try the request again. Alternately, contact Customer Support to increase your limits. Local regulations (e.g. in PSD2 countries) prohibit overages above the amount authorized by the payer."
                      ]
                    }
                  }
                },
                {
                  "title": "REAUTHORIZATION_TOO_SOON",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REAUTHORIZATION_TOO_SOON"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A reauthorization is only allowed once from Day 4 to Day 29 since the date of the original authorization."
                      ]
                    }
                  }
                },
                {
                  "title": "REAUTHORIZATION_DECLINED_BY_PROCESSOR",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REAUTHORIZATION_DECLINED_BY_PROCESSOR"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The reauthorization was declined by the processor."
                      ]
                    }
                  }
                },
                {
                  "title": "REAUTHORIZATION_NOT_SUPPORTED_FOR_PAYMENT_SOURCE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": [
                        "REAUTHORIZATION_NOT_SUPPORTED_FOR_PAYMENT_SOURCE"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Reauthorization is not supported for the payment source."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "authorizations.void-422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "PREVIOUSLY_CAPTURED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PREVIOUSLY_CAPTURED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Authorization has been previously captured and hence cannot be voided."
                      ]
                    }
                  }
                },
                {
                  "title": "PREVIOUSLY_VOIDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PREVIOUSLY_VOIDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Authorization has been previously voided and hence cannot be voided again."
                      ]
                    }
                  }
                },
                {
                  "title": "CANNOT_BE_VOIDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_VOIDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "A reauthorization cannot be voided. Please void the original parent authorization."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "capture": {
        "type": "object",
        "title": "Capture",
        "description": "A captured payment.",
        "allOf": [
          {
            "$ref": "#/components/schemas/capture_status"
          },
          {
            "properties": {
              "id": {
                "description": "The PayPal-generated ID for the captured payment.",
                "type": "string",
                "readOnly": true
              },
              "amount": {
                "description": "The amount for this captured payment.",
                "$ref": "#/components/schemas/money",
                "readOnly": true
              },
              "invoice_id": {
                "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
                "type": "string",
                "readOnly": true
              },
              "custom_id": {
                "type": "string",
                "description": "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports.",
                "maxLength": 255
              },
              "network_transaction_reference": {
                "$ref": "#/components/schemas/network_transaction"
              },
              "seller_protection": {
                "$ref": "#/components/schemas/seller_protection",
                "readOnly": true
              },
              "final_capture": {
                "description": "Indicates whether you can make additional captures against the authorized payment. Set to `true` if you do not intend to capture additional payments against the authorization. Set to `false` if you intend to capture additional payments against the authorization.",
                "type": "boolean",
                "default": false,
                "readOnly": true
              },
              "seller_receivable_breakdown": {
                "$ref": "#/components/schemas/seller_receivable_breakdown",
                "readOnly": true
              },
              "disbursement_mode": {
                "$ref": "#/components/schemas/disbursement_mode"
              },
              "links": {
                "$ref": "#/components/schemas/link_description_list"
              },
              "processor_response": {
                "description": "An object that provides additional processor information for a direct credit card transaction.",
                "$ref": "#/components/schemas/processor_response"
              }
            }
          },
          {
            "$ref": "#/components/schemas/activity_timestamps"
          }
        ]
      },
      "capture-2": {
        "type": "object",
        "title": "Captured Payment",
        "description": "A captured payment.",
        "allOf": [
          {
            "$ref": "#/components/schemas/capture"
          },
          {
            "properties": {
              "supplementary_data": {
                "description": "An object that provides supplementary/additional data related to a payment transaction.",
                "readOnly": true,
                "$ref": "#/components/schemas/supplementary_data"
              },
              "payee": {
                "description": "The details associated with the merchant for this transaction.",
                "$ref": "#/components/schemas/payee_base",
                "readOnly": true
              }
            }
          }
        ]
      },
      "capture_request": {
        "allOf": [
          {
            "$ref": "#/components/schemas/supplementary_purchase_data"
          },
          {
            "properties": {
              "amount": {
                "description": "The amount to capture. To capture a portion of the full authorized amount, specify an amount. If amount is not specified, the full authorized amount is captured. The amount must be a positive number and in the same currency as the authorization against which the payment is being captured.",
                "$ref": "#/components/schemas/money"
              },
              "invoice_id": {
                "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
                "type": "string",
                "maxLength": 127
              },
              "final_capture": {
                "description": "Indicates whether you can make additional captures against the authorized payment. Set to `true` if you do not intend to capture additional payments against the authorization. Set to `false` if you intend to capture additional payments against the authorization.",
                "type": "boolean",
                "default": false
              },
              "payment_instruction": {
                "type": "object",
                "title": "Payment Instruction",
                "description": "Any additional payment instructions to be consider during payment processing. This processing instruction is applicable for Capturing an order or Authorizing an Order.",
                "properties": {
                  "platform_fees": {
                    "$ref": "#/components/schemas/platform_fee_list"
                  },
                  "disbursement_mode": {
                    "description": "The funds that are held payee by the marketplace/platform. This field is only applicable to merchants that been enabled for PayPal Complete Payments Platform for Marketplaces and Platforms capability.",
                    "$ref": "#/components/schemas/disbursement_mode"
                  },
                  "payee_receivable_fx_rate_id": {
                    "type": "string",
                    "description": "FX identifier generated returned by PayPal to be used for payment processing in order to honor FX rate (for eligible integrations) to be used when amount is settled/received into the payee account.",
                    "maxLength": 4000,
                    "minLength": 1,
                    "pattern": "^.*$"
                  }
                }
              },
              "note_to_payer": {
                "description": "An informational note about this settlement. Appears in both the payer's transaction history and the emails that the payer receives.",
                "type": "string",
                "maxLength": 255
              },
              "soft_descriptor": {
                "description": "The payment descriptor on the payer's account statement.",
                "type": "string",
                "maxLength": 22
              }
            }
          },
          {
            "title": "Capture Request",
            "type": "object",
            "description": "Captures either a portion or the full authorized amount of an authorized payment."
          }
        ]
      },
      "capture_status": {
        "type": "object",
        "title": "Capture Status With Details",
        "description": "The status and status details of a captured payment.",
        "properties": {
          "status": {
            "title": "Capture Status",
            "description": "The status of the captured payment.",
            "type": "string",
            "x-enumDescriptions": [
              {
                "value": "COMPLETED",
                "description": "The funds for this captured payment were credited to the payee's PayPal account."
              },
              {
                "value": "DECLINED",
                "description": "The funds could not be captured."
              },
              {
                "value": "PARTIALLY_REFUNDED",
                "description": "An amount less than this captured payment's amount was partially refunded to the payer."
              },
              {
                "value": "PENDING",
                "description": "The funds for this captured payment was not yet credited to the payee's PayPal account. For more information, see <code>status.details</code>."
              },
              {
                "value": "REFUNDED",
                "description": "An amount greater than or equal to this captured payment's amount was refunded to the payer."
              },
              {
                "value": "FAILED",
                "description": "There was an error while capturing payment."
              }
            ],
            "readOnly": true,
            "enum": [
              "COMPLETED",
              "DECLINED",
              "PARTIALLY_REFUNDED",
              "PENDING",
              "REFUNDED",
              "FAILED"
            ]
          },
          "status_details": {
            "description": "The details of the captured payment status.",
            "readOnly": true,
            "$ref": "#/components/schemas/capture_status_details"
          }
        }
      },
      "capture_status_details": {
        "title": "Capture Status Details",
        "description": "The details of the captured payment status.",
        "type": "object",
        "properties": {
          "reason": {
            "title": "Capture Incomplete Reason",
            "description": "The reason why the captured payment status is `PENDING` or `DENIED`.",
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Z_]+$",
            "x-enumDescriptions": [
              {
                "value": "BUYER_COMPLAINT",
                "description": "The payer initiated a dispute for this captured payment with PayPal."
              },
              {
                "value": "CHARGEBACK",
                "description": "The captured funds were reversed in response to the payer disputing this captured payment with the issuer of the financial instrument used to pay for this captured payment."
              },
              {
                "value": "ECHECK",
                "description": "The payer paid by an eCheck that has not yet cleared."
              },
              {
                "value": "INTERNATIONAL_WITHDRAWAL",
                "description": "Visit your online account. In your **Account Overview**, accept and deny this payment."
              },
              {
                "value": "OTHER",
                "description": "No additional specific reason can be provided. For more information about this captured payment, visit your account online or contact PayPal."
              },
              {
                "value": "PENDING_REVIEW",
                "description": "The captured payment is pending manual review."
              },
              {
                "value": "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION",
                "description": "The payee has not yet set up appropriate receiving preferences for their account. For more information about how to accept or deny this payment, visit your account online. This reason is typically offered in scenarios such as when the currency of the captured payment is different from the primary holding currency of the payee."
              },
              {
                "value": "REFUNDED",
                "description": "The captured funds were refunded."
              },
              {
                "value": "TRANSACTION_APPROVED_AWAITING_FUNDING",
                "description": "The payer must send the funds for this captured payment. This code generally appears for manual EFTs."
              },
              {
                "value": "UNILATERAL",
                "description": "The payee does not have a PayPal account."
              },
              {
                "value": "VERIFICATION_REQUIRED",
                "description": "The payee's PayPal account is not verified."
              },
              {
                "value": "DECLINED_BY_RISK_FRAUD_FILTERS",
                "description": "Risk Filter set by the payee failed for the transaction."
              }
            ],
            "enum": [
              "BUYER_COMPLAINT",
              "CHARGEBACK",
              "ECHECK",
              "INTERNATIONAL_WITHDRAWAL",
              "OTHER",
              "PENDING_REVIEW",
              "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION",
              "REFUNDED",
              "TRANSACTION_APPROVED_AWAITING_FUNDING",
              "UNILATERAL",
              "VERIFICATION_REQUIRED",
              "DECLINED_BY_RISK_FRAUD_FILTERS"
            ]
          }
        }
      },
      "captures.refund-400": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "MISSING_REQUIRED_PARAMETER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_REQUIRED_PARAMETER"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "INVALID_PARAMETER_SYNTAX",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_SYNTAX"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "INVALID_STRING_LENGTH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_STRING_LENGTH"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "captures.refund-422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "CANNOT_BE_ZERO_OR_NEGATIVE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_ZERO_OR_NEGATIVE"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "DECIMAL_PRECISION",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMAL_PRECISION"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "DECIMALS_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DECIMALS_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "INVALID_CURRENCY_CODE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_CURRENCY_CODE"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "CURRENCY_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CURRENCY_MISMATCH"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "CANNOT_BE_NEGATIVE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CANNOT_BE_NEGATIVE"]
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                {
                  "title": "CAPTURE_FULLY_REFUNDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CAPTURE_FULLY_REFUNDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The capture has already been fully refunded"]
                    }
                  }
                },
                {
                  "title": "REFUND_CAPTURE_CURRENCY_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_CAPTURE_CURRENCY_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Refund must be in the same currency as the capture"
                      ]
                    }
                  }
                },
                {
                  "title": "REFUND_NOT_ALLOWED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_NOT_ALLOWED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Capture cannot be refunded."]
                    }
                  }
                },
                {
                  "title": "REFUND_TIME_LIMIT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_TIME_LIMIT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You are over the time limit to perform a refund on this capture"
                      ]
                    }
                  }
                },
                {
                  "title": "REFUND_AMOUNT_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_AMOUNT_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The refund amount must be less than or equal to the capture amount that has not yet been refunded."
                      ]
                    }
                  }
                },
                {
                  "title": "REFUND_AMOUNT_TOO_LOW",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_AMOUNT_TOO_LOW"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The amount after applying currency conversion is zero and hence the capture cannot be refunded. The currency conversion is required because the currency of the capture is different than the currency in which the amount was settled into the payee account."
                      ]
                    }
                  }
                },
                {
                  "title": "REFUND_FAILED_INSUFFICIENT_FUNDS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_FAILED_INSUFFICIENT_FUNDS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Capture could not be refunded due to insufficient funds. Please check to see if you have sufficient funds in your PayPal account or if the bank account linked to your PayPal account is verified and has sufficient funds."
                      ]
                    }
                  }
                },
                {
                  "title": "PARTIAL_REFUND_NOT_ALLOWED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PARTIAL_REFUND_NOT_ALLOWED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You cannot do a refund less than the original capture amount."
                      ]
                    }
                  }
                },
                {
                  "title": "MAX_NUMBER_OF_REFUNDS_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MAX_NUMBER_OF_REFUNDS_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You have exceeded the maximum number of refund attempts for this capture."
                      ]
                    }
                  }
                },
                {
                  "title": "PENDING_CAPTURE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PENDING_CAPTURE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Cannot initiate a refund as the capture is pending. Capture is typically pending when the payer has funded the transaction using e-check/bank funded."
                      ]
                    }
                  }
                },
                {
                  "title": "DUPLICATE_INVOICE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DUPLICATE_INVOICE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Invoice ID was previously used to refund a capture."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Transaction could not complete because payee account is locked or closed."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYER_ACCOUNT_LOCKED_OR_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYER_ACCOUNT_LOCKED_OR_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The payer account cannot be used for this transaction."
                      ]
                    }
                  }
                },
                {
                  "title": "PAYEE_ACCOUNT_RESTRICTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PAYEE_ACCOUNT_RESTRICTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Payee account is restricted."]
                    }
                  }
                },
                {
                  "title": "REFUND_NOT_PERMITTED_DUE_TO_CHARGEBACK",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_NOT_PERMITTED_DUE_TO_CHARGEBACK"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Refunds are not allowed on this capture due to a chargeback on the card or bank. Please contact the payee to resolve the chargeback."
                      ]
                    }
                  }
                },
                {
                  "title": "TRANSACTION_DISPUTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["TRANSACTION_DISPUTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Partial refunds cannot be offered at this time because there is an open case on this transaction. Visit the PayPal Resolution Center to review this case."
                      ]
                    }
                  }
                },
                {
                  "title": "PLATFORM_FEE_EXCEEDED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PLATFORM_FEE_EXCEEDED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Platform fee amount specified exceeds the amount that is available for refund. You can only refund up to the available platform fee amount. This error is also returned when no platform_fee was specified or was zero when the payment was captured."
                      ]
                    }
                  }
                },
                {
                  "title": "REFUND_IS_RESTRICTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["REFUND_IS_RESTRICTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "This refund can only be processed by the API caller that had 'captured' the transaction. If you facilitate your transactions via a platform/partner, please initiate a refund through them."
                      ]
                    }
                  }
                },
                {
                  "title": "PLATFORM_FEE_NOT_ENABLED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PLATFORM_FEE_NOT_ENABLED"]
                    },
[...]
